.navbar {
    margin-bottom: 20px;
}

.post-date {
    font-weight: bold;
}

.list-element {
    margin-bottom: 50px;
}

.post-footer {
    margin-top: 10px;
    background-color: #F2F1F1;
    font-size: 90%;
    padding: 5px 10px;
    clear: both;
}

.sidebar-widget {
    margin-bottom: 30px;
}

.cut-link {
    display: inline-block;
    margin-top: 20px;
}
