---
layout: default
title: Посты
---

{% for post in paginator.posts %}
	<div class="list-element">
		<p class="post-date">{{ post.date | date: "%d.%m.%Y" }}</p>
		<a href="{{ site.baseurl }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
		<div>{{ post.excerpt }}</div>
		<a href="{{ site.baseurl }}{{ post.url }}#more" class="cut-link">Читать полностью</a>
		<p class="post-footer">
        	Опубликовано <i><span>{{ post.date | date: "%d.%m.%Y" }}</span></i>
        	{% if page.tags != '' %}
            	с ярлыками {% for tag in post.tags %}
					<a class="badge badge-primary" href="{{ site.baseurl }}{{ "/tags#" | append: tag | slugify: 'raw' }}">{{ tag }}</a>
            	{% endfor %}
        	{% endif %}
		</p>
	</div>
{% endfor %}
<nav>
	<ul class="pagination justify-content-center">
		{% if paginator.previous_page %}
			<li class="page-item">
				<a class="page-link" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Позже</a>
			</li>
		{% endif %}
		{% if paginator.next_page %}
			<li class="page-item">
				<a class="page-link" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Раньше</a>
			</li>
		{% endif %}
	</ul>
</nav>
