---
layout: default
title: Теги
---

<div class="page-header">
	<h3>{{ page.title }}</h3>
</div>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<p>
	{% for item in (0..site.tags.size) %}{% unless forloop.last %}
		{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
		<a class="badge badge-primary" href="#{{ this_word | slugify: 'raw' }}">{{ this_word }} ({{ site.tags[this_word].size }})</a>
	{% endunless %}{% endfor %}
</p>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
	{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
	<h3 id="{{ this_word | slugify: 'raw' }}">{{ this_word }}</h3>
	<ol>
		{% for post in site.tags[this_word] %}{% if post.title != null %}
			<li>
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
				<span>{{ post.date | date: "%d.%m.%Y"  }}</span>
			</li>
		{% endif %}{% endfor %}
	</ol>
{% endunless %}{% endfor %}
