<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ page.title }} – {{ site.title }}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
	<link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/atom+xml"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/syntaxhighlighter/shCore.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/syntaxhighlighter/shThemeDefault.css" />
</head>
<body>
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
		<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#nav-collapse-1">
			<span class="navbar-toggler-icon"></span>
		</button>
		<span class="navbar-text">All work and no play makes John a dull boy</span>
		<div class="collapse navbar-collapse" id="nav-collapse-1">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Главная</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/archive">Архив</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/tags">Теги</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div>{{ content }}</div>
		</div>
		<div class="col-lg-4">
			<div class="sidebar-widget">
				<h4>О блоге</h4>
				<p class="well">{{ site.about }}</p>
			</div>
			<div>
				<h4>Поиск</h4>
				<div>
					<script>
						(function () {
							var cx = '007229779708987135604:bz-hwov_yu8';
							var gcse = document.createElement('script');
							gcse.type = 'text/javascript';
							gcse.async = true;
							gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
								'//cse.google.com/cse.js?cx=' + cx;
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(gcse, s);
						})();
					</script>
					<gcse:search></gcse:search>
				</div>
			</div>
			<div class="sidebar-widget">
				{% for tag in site.tags %}
					<span style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 80 }}%">
						{% capture tag_name %}{{ tag | first }}{% endcapture %}
						<a href="{{ site.baseurl }}{{ "/tags#" | append: tag_name | slugify: 'raw' }}">{{ tag_name }}</a>
					</span>
				{% endfor %}
			</div>
			<div class="sidebar-widget">
				<h4>Мой Telegram-бот</h4>
				<p>Приглашаю попробовать <a href="https://t.me/tasko_bot">Таскобота</a>, inline-бота для создания совместных задач в личных чатах.</p>
				<a href="/posts/191">Подробнее</a>
			</div>
			<div class="sidebar-widget">
				<h4>DigitalOcean</h4>
				<p>Облачный хостинг, которым я пользуюсь.</p>
				<a href="https://m.do.co/c/1e0532ffbcbc">Зарегистрироваться и получить $10 на счет</a>
			</div>
			<div class="sidebar-widget">
				<p class="text-center text-muted small">
					© <a href="http://about.johnspade.ru">johnspade</a>, 2010—
					<span>{{ 'now' | date: "%Y" }}</span> |
					<a href="https://github.com/johnspade/static-blog">Исходный код на GitHub</a>
				</p>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shCore.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushCpp.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushCss.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushPowerShell.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushPlain.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushCSharp.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushJava.js"></script>
<script src="{{ site.baseurl }}/js/syntaxhighlighter/shBrushScala.js"></script>
<script>SyntaxHighlighter.all()</script>
</body>
</html>
