---
layout: default
---

<div class="page-header">
	<h3>{{ page.title }}</h3>
</div>
<div>
	{{ page.content }}
</div>
<p class="post-footer">
		Опубликовано <em><span>{{ page.date | date: "%d.%m.%Y" }}</span></em>
		{% if page.tags != '' %}
			с ярлыками {% for tag in page.tags %}
				<a class="label label-primary" href="{{ site.baseurl }}{{ "/tags#" | append: tag | slugify: 'raw' }}">
			{{ tag }}</a>{% endfor %}
		{% endif %}
</p>
<div>
	<!--<div id="disqus_thread"></div>-->
	<!--<script>-->
		<!--var disqus_config = function () {-->
			<!--this.page.url = '{{ site.url }}{{ site.baseurl }}{{ page.url }}';-->
			<!--this.page.identifier = '{{ page.id | split: '/' | last }}';-->
		<!--};-->
		<!--(function() {-->
			<!--var d = document, s = d.createElement('script');-->
			<!--s.src = 'https://johnspade.disqus.com/embed.js';-->
			<!--s.setAttribute('data-timestamp', +new Date());-->
			<!--(d.head || d.body).appendChild(s);-->
		<!--})();-->
	<!--</script>-->
	<!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
</div>
